<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/players">Players</a></li>
            <li><a href="/teams">Teams</a></li>
        </ul>
    </nav>

    <form action="/players/new/"
      class="NEW-form" method="GET">
      <button type="submit">add player</button>
    </form>

    
<table>
    <thead>
      <tr>
        <th>Postions</th>
        <br>
        <th>Player Name</th>
        <br>
        <th>Age</th>
        <br>
        <th>Height</th>
        <br>
        <th>comment</th>
      </tr>
    </thead>
    <tbody>
        <% console.log('hello',players) 
          players.forEach(function(p){ %>
          <tr>
            <td><%= p.position %></td>
            <td><%= p.playerName %></td>
            <td><%= p.age %></td>
            <td><%= p.height %></td>
            <td><%= p.comment %></td>
            <td>
              <form action="/players/<%= p._id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
            </td>
            <td>
              <form action="/players/<%= p._id %>"
                class="update-form" method="get">
                <button type="submit">edit</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
  </table>

  


<%- include('../partials/footer') %>